.container {
  width: 100vw;
  height: 100vh;

  background-color: #2a8b9e;
  display: flex;
  justify-content: center;
  align-items: center;

  main {
    min-width: 40vw;
    background-color: white;
    padding: 1rem;
    border-radius: 9px;

    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.arrowLeft {
  align-self: flex-start;
  cursor: pointer;
  color: #37b3cb;

  &:hover {
    color: #202b57;
    opacity: 0.8;
    transition: 500ms;
  }
}
